<%- include('../header') %>
    
<h1> Edit task view </h1>

<form method="post" action="/tasks/edit/<%= task.id %>" >
    <fieldset>
        <legend> Editing task </legend>

        <div class="clearfix">
            <label> Task </label>
            <div class="input">
                <input name="task" class="xlarge" value="<%= task.task %>" >
            </div>

        <div class="action">
            <input type="submit" value="Save" class="btn primary">
            <button type="reset" class="btn"> Cancel </button>
        </div>


        </div>
    </fieldset>
</form>

<%- include('../footer') %>