<%- include('../header') %>
    <h1>
        Your tasks
    </h1>

    <% if (docs.length) {%>
        <table>
            <tr>
                <th> Tasks </th>
            </tr>
            <% for (var i=0;i<docs.length;i++) { %>
            <tr>
                <td> <%- docs[i]._id %> </td>
            </tr>
            <% } %>

        </table>

    <% } else { %>
        <p> You don't have any tasks! </p>
    <% } %>

    <p>
        <a href="/tasks/new", class="btn primary"> Add a Task </a>
    </p>
<%- include('../footer') %>